9* { box-sizing: border-box;}



body {

  background: url("fondo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;

}


.fighter{
  width: 70px;
  height: 110px;
  background-image: url("fighter.png");
  animation: patada 5s steps(13) 2, desplazarse 13s steps(100) 2;
  transform:scale(4);
  position: absolute;
  margin-top: 250px;
  left: 6px;
  top: 670px;

}
@keyframes patada {
  100% { background-position: -910px; }
}

@keyframes desplazarse {
  100% { margin-left: 100%; }
}

@keyframes disappear {
  100% { opacity: 0; }
}



.fighter2{

  width: 78px;
  height: 130px;
  background-image: url("fighter2.png");
  animation: punetazo 13s steps(9) 2, desplazarse 13s steps(100) 2;
  transform:scale(3);
  position: absolute;
  margin-top: 250px;
  left: 100px;
  top: 600px;

  }
@keyframes punetazo {
  100% { background-position: -702px; }
}

@keyframes desplazarse {
  100% { margin-left: 100%; }
}

@keyframes disappear {
  100% { opacity: 0; }
}



.figther-rojo{

  width: 280px;
  height: 250px;
  background-image: url("fighter-rojo.png");
   animation: fight-rojo 10s steps(24) 2; desplazarse 20s steps(100) 1;
  transform:scale(3);
  position: absolute;
  margin-top: 250px;
  right: 340px;
  top: 400px;
  animation-delay: 6s
}
@keyframes fight-rojo {
  100% { background-position: -6720px; }
}

@keyframes desplazarse {
  100% { margin-left: 100%; }
}

@keyframes disappear {
  100% { opacity: 0; }
}


.figther-azul{

  width: 251px;
  height: 224px;
  background-image: url("figther3.png");
  animation: fight-azul 7s steps(57) 3, desplazarse 1s steps(100) 2;
  transform:scale(3);
  position: absolute;
  margin-top: 250px;
  right: 80px;
  top: 500px;
  animation-delay:7s
}

@keyframes fight-azul {
  100% { background-position: -14307px; }
}

@keyframes desplazarse {
  100% { margin-left: 100%; }
}

@keyframes disappear {
  100% { opacity: 0; }

}
